@import "varlible";
@charset "utf-8";

//如果有header和footer，则可以设置wrap-page的padding
@h: 0;
@pagePadding: 0;
@pMargin: 0;

.header ~.wrap-page {}
.footer ~.wrap-page {}

.header,.footer,.wrap-page {
  position: absolute;
  left: 0;
  right: 0;
}

.header,.footer {
  height: @h;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
  line-height: @h;
}
.footer {
  bottom: 0;
  border-bottom: 1px solid #fff;
}
.wrap-page {
  top: @h;
  bottom: @h;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.page {
  padding: @pagePadding;
  margin-bottom: @pMargin;
  height: 100%;
}

//----------
// 标题 comp
//----------
.h-title {
  @colorDefault: #c2c2c2;
  position: relative;
  padding: 5px 0;
  margin: 0 auto;
  letter-spacing: 1px;
  color: @colorDefault;
  border-bottom: 1px solid @colorDefault;
}

//----------
// button-default comp
//----------
.btn {
  border: 0;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  background: orange;
}