@import "variable";
@charset "utf-8";

//如果有header和footer，则可以设置wrap-page的padding
@h: 0;
@pagePadding: 0;
@pMargin: 0;

.header ~.wrap-page {}
.footer ~.wrap-page {}

.header,.footer,.wrap-page {
  position: absolute;
  left: 0;
  right: 0;
}

.header,.footer {
  height: @h;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
  line-height: @h;
}
.footer {
  bottom: 0;
  border-bottom: 1px solid #fff;
}
.wrap-page {
  top: @h;
  bottom: @h;
  /*overflow-y: auto;*/
  -webkit-overflow-scrolling: touch;
}
.page {
  position: absolute;
  left: 0;
  width: 100%;
  /*没有footer和header,bottom和top设置为0*/
  top: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  padding: @pagePadding;
  margin-bottom: @pMargin;
  //height: 100%;
}

//----------
// 标题 comp
//----------
.h-title {
  @colorDefault: #c2c2c2;
  position: relative;
  padding: 5px 0;
  margin: 0 auto;
  letter-spacing: 1px;
  color: @colorDefault;
  border-bottom: 1px solid @colorDefault;
}

//----------
// button-default comp
//----------
.btn {
  border: 0;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  background: @orangeColor;
  &--green {
    @h: 3.7rem;
    &:extend(.btn);
    display: block;
    width: 100%;
    height: @h;
    line-height: @h;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    background: @btnColorGreen;
  }
  &--hollow-green {
    padding: 10px 15px;
    border: 2px solid @btnColorGreen;
    color: @btnColorGreen;
    background: #fff;
  }
}

//----------
// status info comp
//----------
.hint-title {
  text-align: center;
  color: @orangeColor;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 60px;
  font-size: 1.8rem;
}