@charset "utf-8";
.hide {
  display: none;
}
.w100p {
  width: 100%;
  overflow: hidden;
}
.p10 {
  padding: 0 1.5rem;
}
.tc {
  text-align: center;
}
.wrap-page {
  background-color: #eef2f4;
  color: #c2c2c2;
}
.section-app-des {
  font-size: 1rem;
}
.ios-download,
.android-download {
  display: inline-block;
  width: 48%;
  height: 4.5rem;
  margin-top: 1rem;
  text-indent: -999px;
}
.ios-download {
  background: url("../img/ios.png") no-repeat center;
  background-size: contain;
}
.android-download {
  float: right;
  background: url("../img/android.png") no-repeat center;
  background-size: contain;
}
.section-activity .section-banner {
  margin-bottom: 15px;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
}
.section-activity .section-banner .banner-w img {
  width: 100%;
}
.section-activity .section-banner .ac-title p {
  position: relative;
  padding: 10px 0;
}
.section-activity .section-banner .ac-title .team-logo {
  width: 54px;
  height: 54px;
}
.section-activity .section-banner .ac-title .team-name {
  display: inline-block;
  width: 63%;
  padding-left: 10px;
  line-height: 54px;
  vertical-align: bottom;
  font-size: 2rem;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section-activity .section-banner .ac-title .phone-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../img/phone-icon.png") no-repeat center;
  background-size: contain;
}
.section-activity .section-ac-detail {
  margin-bottom: 15px;
  background: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.section-activity .section-ac-detail p {
  color: #666666;
}
.section-activity .section-ac-detail .ac-time {
  padding: 5px 0 0 0;
  font-size: 22px;
  color: #fd7037;
}
.section-activity .section-ac-detail .ac-location {
  padding: 0 0 5px 0;
  font-size: 18px;
}
.section-activity .section-ac-detail .ac-des {
  font-size: 16px;
  letter-spacing: 1px;
}
.section-activity .section-ac-address {
  margin-bottom: 15px;
  background: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.section-activity .section-ac-address .ac-address {
  position: relative;
  padding: 10px 40px 10px 0;
  font-size: 22px;
  color: #666666;
}
.section-activity .section-ac-address .local-icon {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  background: url("../img/local-icon.png") no-repeat center;
  background-size: contain;
}
.section-activity .section-baoming {
  padding: 10px 15px;
  background: #ffffff;
  border-top: 1px solid #ccc;
}
.section-activity .section-baoming .baoming-price {
  display: inline-block;
  padding-top: 5px;
  vertical-align: bottom;
  font-size: 26px;
  color: #fd7037;
}
.section-activity .section-baoming .baoming-price i {
  font-style: normal;
}
.section-activity .section-baoming .baoming {
  float: right;
}
/*write baoming info*/
.section-baoming-regist {
  padding: 0 1.5rem;
  background: #ffffff;
}
.section-baoming-regist .section-form {
  padding-top: 2rem;
}
.section-baoming-regist .section-form input {
  display: block;
  width: 100%;
  height: 3.7rem;
  line-height: 3.7rem;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
}
.section-baoming-regist .section-app-des {
  padding: 0 2.5rem;
  background: #ffffff;
}
/*get phone captcha and submit info in this section*/
.section-get-captcha {
  padding: 0 1.5rem;
  background: #ffffff;
}
.section-get-captcha .section-captcha-validate p {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  padding: 2rem 0 2rem 0.5rem;
}
.section-get-captcha .section-captcha-validate input {
  vertical-align: middle;
}
.section-get-captcha .section-captcha-validate .captcha-input {
  width: 62%;
  height: 42px;
  line-height: 42px;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
.section-get-captcha .section-captcha-validate .get-captcha {
  width: 36%;
  height: 42px;
}
.section-get-captcha .section-captcha-validate .error-mes {
  padding-top: 0.8rem;
  color: #ff0000;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
}
.section-get-captcha .section-captcha-validate .validate {
  margin: 5.5rem 0 1.3rem 0;
}
.section-get-captcha .section-app-des {
  padding: 0 2.5rem;
  background: #ffffff;
}
/*when the activity has baoming fee,user must download app for baoming*/
.section-downApp-for-baoming {
  padding: 0 4rem;
  background: #ffffff;
}
.section-downApp-for-baoming .hint-info {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  padding: 2rem 0 15rem 0 ;
  margin-bottom: 3.5rem;
  background: #ffffff url("../img/appLogo.png") no-repeat center bottom;
  background-size: 9rem 12rem;
}
/*baoming succeed*/
.section-succeed {
  padding: 0 4rem;
  background: #ffffff;
}
.section-succeed .hint-info {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  padding-bottom: 11rem;
  margin-bottom: 3rem;
  background: #ffffff url("../img/loading.png") no-repeat center bottom;
  background-size: 9rem 9rem;
}
.section-succeed .hint-info span {
  display: block;
}
.section-succeed .hint-status {
  padding: 2rem 0;
  font-size: 1.8rem;
}
/*# sourceMappingURL=page.css.map */